/* @media only screen and (max-width: 568px) {
    #search input {
        width: 90%;
    }

    #btn-timkiem {
        width: 90%;
    }
}

@media only screen and (min-width: 568px) and (max-width: 991px) {
    #search input {
        width: 90%;
    }
}

@media only screen and (min-width: 992px) {
    #search input {
        width: 50%;
    }

    #btn-timkiem {
        width: 50% !important;
    }
}

#search {
    text-align: center;
    position: fixed;
    z-index: 99 !important;
    width: 100%;
    transition: opacity 0.3s ease;
}

#search>input {
    padding: 0.5rem 1rem;
    margin: 0.2rem 0;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px 0px #fe6b6d3b;
    border: 1px solid #fe6b6d3b;
}

#search input:focus {
    outline: none;
}

.bat {
    opacity: 1 !important;
}

.tat {
    opacity: 0 !important;
}

#btn-timkiem {
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    width: 90%;
    margin-top: 0.2rem;
    border-radius: 2rem;
    text-align: left;
}

#btn-timkiem:focus {
    outline: none;
} */