#searchDemo p {
    margin-bottom: 8px !important;
}

.custom-shadow {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    /* Example shadow values */
}

.btn-menu-long:hover {
    color: #fe6b6e;
}

/* iphone */
@media only screen and (max-width: 568px) {
    .search-demo {
        display: block;
        border-radius: 10px;
    }

    .search-none {
        display: none;
    }

    .search-block {
        display: block;
        text-align: center;
    }

    .search-w-100 {
        text-align: center;
        width: 100%;
        margin-top: 1rem;
    }

    #searchDemo input{
        font-size: small !important;
        outline: none;
    }
}

/* laptop */
@media only screen and (min-width: 568px) {
    .border-lg {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    #searchDemo input {
        border: none !important;
        font-size: small;
    }

    #diaDiem,
    #soLuong {
        -webkit-appearance: none;
        border: none;
        outline: none;
        text-align: center;
    }

    #diaDiem:hover,
    #soLuong:hover {
        cursor: pointer;
    }

    .btn-menu-long {
        font-weight: 500;
    }
}