.height-250 {
    height: 250px !important;
}

a:hover{
    text-decoration: none;
}

#icon {
    color: black;
    position: absolute;
}

#icon:hover{
    color: red;
    cursor: pointer;
}

#icon:focus{
    color: red !important;
}

#item {
    cursor: pointer;
}

#daucham{
    font-size: 5px;
    margin-bottom: 5px !important;
    padding-bottom: 5px;
}