.height-250 {
    height: 250px !important;
}

.height-300 {
    height: 300px !important;
}

img {
    object-fit: cover !important;
}

a:hover {
    text-decoration: none;
}

#icon {
    color: black;
    position: absolute;
}

#icon:hover {
    color: red;
    cursor: pointer;
}

#icon:focus {
    color: red !important;
}

/* #item {
    cursor: pointer;
} */

.cursor {
    cursor: pointer;
}

input {
    cursor: pointer !important;
}

select {
    cursor:  pointer !important;
}

#daucham {
    font-size: 5px;
    margin-bottom: 5px !important;
    padding-bottom: 5px;
}