/* Thiết bị nhỏ (sm) iphone */
@media only screen and (max-width: 575px) {
    body {
        background-color: #ffffff;
    }

    nav{
        background-color: #ffffff;
    }

    #ul-menu-sm {
        background-color: #efefef;
    }

    #ul-profile {
        margin-top: 0.5rem;
        background-color: #efefef;
    }

    .btn-profile-sm {
        width: 100%;
        text-align: left;
    }


}

/* Thiết bị trung bình (md) ipad */
@media only screen and (min-width: 576px) and (max-width: 991px) {
    body {
        background-color: lightgreen;
    }

    nav {
        background-color: lightgreen;
    }

}

/* Thiết bị lớn (lg) laptop */
@media only screen and (min-width: 992px) {
    body {
        background-color: lightyellow;
    }

    nav {
        background-color: lightyellow;
    }

}