/* Thiết bị nhỏ (sm) iphone */
@media only screen and (max-width: 568px) {
  #header {
    padding: 0.5rem !important;
  }

  .ul-menu-sm {
    position: absolute;
    left: 0;
    width: 50%;
    z-index: 999;
    position: fixed;
    top: 3.5rem;
  }

  #ul-menu {
    background-color: #efefef;
  }

  .ul-profile-sm {
    position: absolute;
    right: 0;
    width: 50%;
    z-index: 999;
    position: fixed;
    top: 3.5rem;
  }

  #ul-profile {
    background-color: #efefef;
  }

  .btn-profile-sm {
    width: 100%;
    text-align: left;
  }

  .btn-focus:focus {
    outline: none;
  }
}

/* Thiết bị lớn (lg) laptop */
@media only screen and (min-width: 992px) {
  nav {
    border-bottom: 1px solid;
  }

  #logo {
    font-weight: 500;
    font-size: x-large;
    margin-bottom: 0.4rem;
  }

  #ul-menu li a {
    padding: 1rem;
    border-bottom: 5px solid #ffffff;
    font-weight: 500;
    font-size: larger;
  }

  #ul-menu li a:hover {
    color: #fe6b6e !important;
    border-bottom: 4px solid #fe6b6e;
    cursor: pointer;
  }

  #ul-menu li a:focus {
    border-bottom: 4px solid #fe6b6e;
  }

  #ul-profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #ul-profile li {
    margin: 0 0.5rem;
  }

  #ul-profile li:hover {
    cursor: pointer;
  }

  #ul-profile li a {
    padding-left: 0;
    padding-right: 0;
    padding: 1rem;
    border-bottom: 5px solid #ffffff;
  }

  #ul-profile li a:hover {
    color: #fe6b6e !important;
    cursor: pointer;
    border-bottom: 5px solid #fe6b6e;
  }

  #ul-profile li button {
    width: 100%;
    font-weight: 500;
    font-size: large;
    border-bottom: 5px solid #ffffff;
    padding: 1rem;
  }

  #ul-profile li button:hover {
    color: #fe6b6e !important;
    cursor: pointer;
    border-bottom: 5px solid #fe6b6e;
  }
}

/* all */
nav {
  background-color: #ffffff;
}

#logo {
  color: #fe6b6e !important;
  margin-right: 0;
}

#header i {
  color: #fe6b6e !important;
}