  #header {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    padding: 0;
  }

  #logo {
    background-color: lightsalmon;
    margin: auto;
    height: 100%;
    font-size: medium;
    font-weight: 500;
    align-items: center;
  }

  #logo a {
    color: #fe6b6e !important;
  }

  /* menu-laptop */
  #menu-lg {
    background-color: yellow;
    margin: auto;
    height: 100%;
  }

  #menu-lg ul {
    height: 100%;
  }

  #menu-lg a {
    background-color: #ffffff;
    border-bottom: 3px solid #ffffff;
    margin: 0 0.1rem;
    font-size: medium;
    font-weight: 500;
    transition: color 0.2s ease, border-bottom-color 0.2s ease;
    height: 100%;
    align-content: center;
  }

  #menu-lg a:hover {
    border-bottom: 3px solid;
    color: #fe6b6e !important;
  }

  #menu-lg a:focus {
    border-bottom: 3px solid;
    color: #fe6b6e !important;
  }

  .active-menu {
    border-bottom: 3px solid !important;
    color: #fe6b6e !important;
  }

  /* profile */
  #btn-profile {
    background-color: lightcoral;
    color: #fe6b6e;
    display: block;
    height: 100%;
    border-radius: 0;
    margin: auto;
    border-bottom: 3px solid #ffffff;
    transition: color 0.2s ease, border-bottom-color 0.2s ease;
  }

  #btn-profile:hover {
    color: #fe6b6e;
    border-bottom: 3px solid;
  }

  #profile {
    background-color: #ffffff;
    right: 0;
    z-index: 999;
    position: fixed;
    width: 20%;
  }

  #profile a {
    background-color: lightskyblue;
    transition: color 0.2s ease, background-color 0.2s ease;
    padding: .5rem 1.5rem;
    font-size: medium;
    font-weight: 500;
  }

  #profile a:hover {
    color: #fe6b6e !important;
    cursor: pointer;
  }

  #profile a:focus {
    background-color: #fab1b2 !important;
  }



  /* mobile */
  @media only screen and (max-width: 991px) {
    #header {
      padding: .4rem 0;
    }

    /* menu mobile*/
    #btn-menu {
      background-color: lightgreen;
      color: #fe6b6e;
      height: 100%;
      border-radius: 0;
      margin: auto;
      transition: color 0.2s ease, border-bottom-color 0.2s ease;
      width: 100%;
    }

    #menu {
      background-color: green;
      left: 0;
      z-index: 999;
      position: fixed;
      width: 100%;
    }

    #menu a {
      background-color: yellow;
      font-size: medium;
      font-weight: 500;
      padding: .8rem;
      transition: background-color 0.2s ease;
    }

    #menu a:hover {
      color: #fe6b6e !important;
      cursor: pointer;
    }

    #btn-profile {
      width: 100%;
      border-bottom: none !important;
    }

    #profile {
      background-color: #ffffff;
      right: 0;
      z-index: 999;
      position: fixed;
      width: 50%;
    }

    #profile a {
      padding: .8rem;
    }

  }



  /* Ipad */
  @media only screen and (min-width: 568px) and (max-width: 991px) {
    #menu-lg {
      display: none !important;
    }

    #btn-menu {
      display: block;
    }

    #profile {
      width: 33%;
    }

  }