/* Thiết bị nhỏ (sm) iphone */
@media only screen and (max-width: 575px) {
  body {
  }

  #search {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }

  .smm\:hidden {
    display: none !important;
  }
}

/* Thiết bị trung bình (md) ipad */
@media only screen and (min-width: 576px) and (max-width: 991px) {
  body {
  }
}

/* Thiết bị lớn (lg) laptop */
@media only screen and (min-width: 992px) {
  body {
  }
}

#search {
  text-align: center;
  width: 100%;
  margin: auto;
  background-color: lightsalmon;
}
