#menu-slide {
    overflow: hidden;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    overflow-x: auto;
    /* Cho phép cuộn ngang nếu nội dung quá rộng */
    overflow-y: hidden;
    /* -webkit-overflow-scrolling: touch; */
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
}

.menu label {
    padding: 5px;
    min-width: 115px !important;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu label:hover {
    cursor: pointer;
    border-bottom: 1px solid #fe6b6e;
    color: #fe6b6e;
}

.menu label span {
    text-decoration: none;
    font-size: smaller;
    font-weight: 500;
}

.menu input {
    display: none;
}

.menu img {
    margin: auto;
}

.menu::-webkit-scrollbar {
    /* ẩn thanh cuộn */
    display: none;
}